@page
@model KoiFishApp.WebApplication.Pages.Pond.DetailsModel

<div>
    <h4>Pond</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.Depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.Depth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.Volume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.Volume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.DrainCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.DrainCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pond.PumpCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pond.PumpCapacity)
        </dd>
    </dl>
</div>

<!-- New Section for Salt Calculation -->
<div>
    <h5>Calculate Salt Needed</h5>
    <hr />
    <form id="saltCalculationForm">
        <!-- Pond Volume Input -->
        <div class="form-group">
            <label for="pondVolume">Dung tích hồ</label>
            <input type="number" id="pondVolume" class="form-control mb-4 col-4" value="@Model.Pond.Volume" min="1" required readonly>
        </div>

        <!-- Salt Ratio Input -->
        <div class="form-group">
            <label for="saltRatio">Tỷ lệ muối mong muốn (%)</label>
            <input type="number" id="saltRatio" class="form-control mb-4 col-4" value="0.3" min="0.1" max="100" step="0.1" required>
        </div>

        <!-- Calculate Button -->
        <button type="button" class="btn btn-info" onclick="calculateSalt()">Tính lượng muối</button>
    </form>

    <!-- Result Display -->
    <div id="result" class="mt-4">
        <p><strong>Lượng muối cần thiết:</strong> <span id="saltAmount"></span></p>
    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pond.PondId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<script>
    function calculateSalt() {
        var pondVolume = document.getElementById("pondVolume").value;
        var saltRatio = document.getElementById("saltRatio").value;

        if (pondVolume && saltRatio) {
            var saltAmount = (pondVolume * (saltRatio / 100)).toFixed(2); 

            document.getElementById("saltAmount").innerText = saltAmount + " kg";
        } else {
            alert("Hãy nhập đủ!");
        }
    }
</script>
