@page
@model KoiFishApp.Pages.Pond.IndexModel
<link href="~/css/background.css" rel="stylesheet">
@{
    ViewData["Title"] = "Pond List";
}

<h1>Pond List</h1>
<div class="back-button">
    <a asp-page="/Menu" class="btn btn-secondary">Quay lại</a>
</div>
<p>
    <a asp-page="./Create" class="btn btn-primary mb-3">Create New Pond</a>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ponds.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ponds.First().Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ponds.First().Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ponds.First().Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ponds.First().Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ponds.First().DrainCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ponds.First().PumpCapacity)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ponds)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <img src="@item.Image" alt="@item.Name" style="width: 150px; height: auto; border-radius: 10px;" />
                </td>
                <td>@Html.DisplayFor(modelItem => item.Size)</td>
                <td>@Html.DisplayFor(modelItem => item.Depth)</td>
                <td>@Html.DisplayFor(modelItem => item.Volume)</td>
                <td>@Html.DisplayFor(modelItem => item.DrainCount)</td>
                <td>@Html.DisplayFor(modelItem => item.PumpCapacity)</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-page="./Details" asp-route-id="@item.PondId" class="btn btn-info">Details</a>
                        <a asp-page="./Edit" asp-route-id="@item.PondId" class="btn btn-warning">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.PondId" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>Tên Ao</th>
            <th>Thể Tích</th>
            <th>Lượng Muối</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pond in Model.Ponds)
        {
            <tr>
                <td>@pond.Name</td>
                <td>@pond.Volume</td>
                <td>@Model.PondSaltAmounts[pond.PondId]</td> <!-- Hiển thị lượng muối đã tính toán -->
            </tr>
        }
    </tbody>
</table>
